.headContainer {
    background-color: #151515;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 8%;
    font-size: 14pt;
}

.titleList{
    height: 100%;
    margin: auto;
}

.titleList li {
    display: inline-block;
    height: 100%;
    line-height: 51px;
    width: 85px;
    text-align: center;
}

.titleList li a{
    text-decoration: none;
    color: #585858;
}

.titleList li:hover a {
    color: #ffffff;
}

.titleList li .activePage {
    color: #ffffff;
}

.titleList .activeItem {
    background-color: #848484;
}
 
.logo {
    font-weight: bold;
}

.logo::before{
    content: "\2603"; /*url(http://img-fotki.yandex.ru/get/5413/5091629.67/0_5ba12_81d03a82_XS.png);*/
    padding-right: 10px;
}

.arrow::after{
    content: "\25BE";
    position: absolute;
    top: 2px;
    margin-left: 3px;
}
/*
.arrow{
    display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent; 
    border-right:5px solid transparent;
    border-top: 5px solid #585858;
    margin-left: 7px;
    position: absolute;
    top: 25px;
}

.arrow:hover{
    border-top: 5px solid #ffffff;
}
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color:#E6E6E6;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    min-width: 160px;
    z-index: 1;
}

.titleList li .dropdown-content a {
    text-decoration: none;
    color: #151515;
    display: block;
    text-align: left;
    padding-left: 30px; 
    padding-bottom: 10px;
    height: 1.8em;
    font-size: 13pt;
}

.dropdown-content a:hover {
    background-color: #F2F2F2;
}

.dropdown:hover .dropdown-content {
    display: block;
}

